* {
        margin: 1%;
        padding: 0%;
}

.footer {
    position: fixed;
}

table {
    background-color: white;
    border-collapse: initial;
    margin: 100px;
    width: 80%;
}
td, th {
    border-bottom: 2px solid gray;
    font-size: 20px;
}

.Titulo {
    text-align: center;
    font-size: 50px;
}


@media (max-width: 850px) {
    div {
        width:49%;
        padding-top: 20px;
    }

    #img_noticia {
        width: 256px;
        height: 212px;
    }
}


@media (max-width: 600px) {


    body {
        width: 100%;
        padding-top: 20px;
    }

    #img_olimpiadas {
        width: 128px;
        height: 86px;
    }
}
