* {
        margin: 1%;
        padding: 0%;
}

.footer {
    position: fixed;
}

table {
    background-color: white;
    border-collapse: initial;
    margin: 100px;
    width: 80%;
}
td, th {
    border-bottom: 2px solid gray;
    font-size: 20px;
}

.Titulo {
    text-align: center;
    font-size: 50px;
}


/* Estilos aplicados a larguras até 480 pixels */

@media screen and (max-width: 480px) {
   body {
          background-color: cyan;
    }
}
